.navbarMain {
  background-color: #ffffff;
  color: #1d1d1d;
}
.navbarSticky {
  transition: all 0.3s ease-in-out;
  background-color: #fa4643;
  color: #ffffff;
  box-shadow: 0px 2px 20px 2px #74747496;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navItems {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  font-size: 15px;
  color: aqua;
}
